dist/blocks/header.html

<header class="header">
  <div class="header__row">
    <div class="header__logo"><img class="header__logo-image header__logo-image--desktop" src="assets/images/static/header__logo.svg" alt=""/><img class="header__logo-image header__logo-image--mobile" src="assets/images/static/logo_mobile.svg" alt=""/><a class="header__logo-link" href="#"></a></div>
    <div class="header__button"><a class="button button--orange" href="#">Выбрать квартиру</a></div>
    <div class="header__menu">
      <div class="header__menu-inner">
        <div class="header__nav">
          <div class="header__nav-item"><a class="header__nav-link" href="#">Ипотека</a></div>
          <div class="header__nav-item"><a class="header__nav-link" href="#">Ход строительства</a></div>
          <div class="header__nav-item"><a class="header__nav-link header__nav-link--drop" href="#">О проекте</a>
            <div class="header__nav-drop"><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a></div>
          </div>
          <div class="header__nav-item"><a class="header__nav-link" href="#">Галерея</a></div>
          <div class="header__nav-item"><a class="header__nav-link" href="#">Контакты</a></div>
        </div>
        <div class="header__contact">
          <div class="header__contact-item"><a class="header__contact-phone" href="tel:+7 (812) 309-77-77">+7 (812) 309-77-77</a></div>
          <div class="header__contact-item">
            <div class="soc">
              <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-vk.svg" alt=""/></div>
              <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-inst.svg" alt=""/></div>
              <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-fb.svg" alt=""/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__search">
      <div class="header__search-icon"></div>
      <form class="header__search-form">
        <input class="header__search-input" type="text" placeholder="Введите запрос"/>
        <button class="header__search-button" type="submit"></button>
      </form>
    </div>
    <div class="header__burger">
      <div class="header__burger-bar"></div>
      <div class="header__burger-bar"></div>
      <div class="header__burger-bar"></div>
    </div>
  </div>
</header>

src/templates/blocks/header.pug
header.header
	.header__row
		.header__logo
			img(src="assets/images/static/header__logo.svg", alt="").header__logo-image.header__logo-image--desktop
			img(src="assets/images/static/logo_mobile.svg", alt="").header__logo-image.header__logo-image--mobile
			a(href="#").header__logo-link
		.header__button
			a(href="#").button.button--orange Выбрать квартиру
		.header__menu
			.header__menu-inner
				.header__nav
					.header__nav-item
						a(href="#").header__nav-link Ипотека
					.header__nav-item
						a(href="#").header__nav-link Ход строительства
					.header__nav-item
						a(href="#").header__nav-link.header__nav-link--drop О проекте
						.header__nav-drop
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
					.header__nav-item
						a(href="#").header__nav-link Галерея
					.header__nav-item
						a(href="#").header__nav-link Контакты

				.header__contact
					.header__contact-item
						a(href="tel:+7 (812) 309-77-77").header__contact-phone +7 (812) 309-77-77
					.header__contact-item
						.soc
							.soc__item
								a(href="#").soc__item-link
								img(src="assets/images/static/soc-vk.svg", alt="").soc__item-icon
							.soc__item
								a(href="#").soc__item-link
								img(src="assets/images/static/soc-inst.svg", alt="").soc__item-icon
							.soc__item
								a(href="#").soc__item-link
								img(src="assets/images/static/soc-fb.svg", alt="").soc__item-icon

		.header__search
			.header__search-icon
			form.header__search-form
				input(type="text" placeholder='Введите запрос').header__search-input
				button(type='submit').header__search-button

		.header__burger
			.header__burger-bar
			.header__burger-bar
			.header__burger-bar
