src/templates/about.pug
extends layout

block title
	title about

	//about-welcome

block content
	.about-welcome(style='background-image: url(assets/images/content/about-welcome.jpg)')
		.container
			.about-welcome__title Финская архитектура в 15 минутах от московских ворот
			.about-welcome__list
				a(href="#").about-welcome__list-item Гамма
				a(href="#").about-welcome__list-item Дельта
				a(href="#").about-welcome__list-item Эпсилон
				a(href="#").about-welcome__list-item Эпсилон
				a(href="#").about-welcome__list-item ЕТА

	.a-features
		.container
			.a-features__row
				.a-features__item
					.a-features__title 2,2 млн. м²
					.a-features__text Общая площадь жилого фонда
				.a-features__item
					.a-features__title 15 мин
					.a-features__text От ст. м. Московские ворота на автомобиле
				.a-features__item
					.a-features__title 2
					.a-features__text Детских садика
				.a-features__item
					.a-features__title 525
					.a-features__text Мест в школе
				.a-features__item
					.a-features__title Ice Rink
					.a-features__text Построен и работает Ледовый дворец ICE RINK.
				.a-features__item
					.a-features__title 12
					.a-features__text Этажей максимум

	.about__note
		.about__note-text Проект Комплексного Освоения Территории (КОТ) — ЖК Новоселье («Новоселье: городские кварталы») строится рядом с третьей МЕГА-ИКЕА (окончание строительства - 2020 год), прямо на границе с Красносельским районом города, в пос. Новоселье. Проект с финской архитектурой от Jukka Tikkanen Ltd находится в 15 минутах езды на автомобиле через ЗСД от станции метро Московские ворота. Уже построены и заселены 10(Десять) домов в 4(четырех) кварталах "Альфа", "Бета", "Гамма", "Дельта", строятся кварталы "Эпсилон" и "ETA".

	.about__block(style='background-image: url(assets/images/content/about-block_1.jpg)')
		.container
			.about__block-content
				.about__block-title 2020 год - завершение строительства МЕГА-ИКЕА

	.about__block(style='background-image: url(assets/images/content/about-block_2.jpg)')
		.container
			.about__block-content
				.about__block-title Лучшее местоположение
				.about__block-text Между двумя развязками КАД и ЗСД

	.about__media
		.container
			.media
				.media__content.media__content--custom
					.media__content-title Преимущества проекта
					.media__content-list
						.media__content-list-item Комфортные евро-планировки, созданные финским архитектором
						.media__content-list-item Отделка квартир по европейским стандартам
						.media__content-list-item Панорамные окна
						.media__content-list-item Территория закрыта по периметру
						.media__content-list-item Кластерная система расположения кварталов
						.media__content-list-item Доступная цена

				.media__gallery
					.media__gallery-col
						.media__gallery-item(style='background-image: url(assets/images/content/inst_5.jpg)')
						.media__gallery-item(style='background-image: url(assets/images/content/inst_6.jpg)')
					.media__gallery-col
						.media__gallery-item(style='background-image: url(assets/images/content/inst_7.jpg)')
						.media__gallery-item(style='background-image: url(assets/images/content/inst_8.jpg)')

	.about__types
		.about__types-item
			.about__types-image(style='background-image: url(assets/images/content/type_1.png)')
			.about__types-title Современный финский дизайн
		.about__types-item
			.about__types-image(style='background-image: url(assets/images/content/type_2.png)')
			.about__types-title Концепция кластеров
		.about__types-item
			.about__types-image(style='background-image: url(assets/images/content/type_3.png)')
			.about__types-title Удобные планировки квартир

	.about__note
		.about__note-title Инфраструктура
		.about__note-text Посёлок Новоселье и прилегающие территории являются объектом не уплотнительной, а комплексной многоэтажной застройки. Введение в строй нескольких сотен тысяч квадратных метров жилья требует создания собственной разветвлённой социальной инфраструктуры. И данная инфраструктура создаётся буквально опережающими темпами: в комплексе будут соблюдены все социальные нормы проживания.

	.about__plan
		img(src="assets/images/content/about-plan.jpg", alt="")

	.about__contact
		.container
			.about__contact-row
				.about__contact-content
					.about__contact-title Ответим на все вопросы
					a(href="#").about__contact-item +7 (812) 309 7777
					a(href="#").about__contact-item info@n-gk.ru
					.about__contact-text Ленинградская область, Ломоносовский район, посёлок Новоселье, Институтская улица, д. 1 за домом — 2-этажное здание и вывеска «Офис продаж».
					a(href="#").about__contact-link Смотреть на карте
					a(href="#").about__contact-link Документы
				.about__contact-image(style='background-image: url(assets/images/content/about-contact.jpg)')

dist/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about</title>
    <!--about-welcome-->
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__row">
          <div class="header__logo"><img class="header__logo-image header__logo-image--desktop" src="assets/images/static/header__logo.svg" alt=""><img class="header__logo-image header__logo-image--mobile" src="assets/images/static/logo_mobile.svg" alt=""><a class="header__logo-link" href="#"></a></div>
          <div class="header__button"><a class="button button--orange" href="#">Выбрать квартиру</a></div>
          <div class="header__menu">
            <div class="header__menu-inner">
              <div class="header__nav">
                <div class="header__nav-item"><a class="header__nav-link" href="#">Ипотека</a></div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Ход строительства</a></div>
                <div class="header__nav-item"><a class="header__nav-link header__nav-link--drop" href="#">О проекте</a>
                  <div class="header__nav-drop"><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a></div>
                </div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Галерея</a></div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Контакты</a></div>
              </div>
              <div class="header__contact">
                <div class="header__contact-item"><a class="header__contact-phone" href="tel:+7 (812) 309-77-77">+7 (812) 309-77-77</a></div>
                <div class="header__contact-item">
                  <div class="soc">
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-vk.svg" alt=""></div>
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-inst.svg" alt=""></div>
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-fb.svg" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header__search">
            <div class="header__search-icon"></div>
            <form class="header__search-form">
              <input class="header__search-input" type="text" placeholder="Введите запрос">
              <button class="header__search-button" type="submit"></button>
            </form>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="about-welcome" style="background-image: url(assets/images/content/about-welcome.jpg)">
          <div class="container">
            <div class="about-welcome__title">Финская архитектура в 15 минутах от московских ворот</div>
            <div class="about-welcome__list"><a class="about-welcome__list-item" href="#">Гамма</a><a class="about-welcome__list-item" href="#">Дельта</a><a class="about-welcome__list-item" href="#">Эпсилон</a><a class="about-welcome__list-item" href="#">Эпсилон</a><a class="about-welcome__list-item" href="#">ЕТА</a></div>
          </div>
        </div>
        <div class="a-features">
          <div class="container">
            <div class="a-features__row">
              <div class="a-features__item">
                <div class="a-features__title">2,2 млн. м²</div>
                <div class="a-features__text">Общая площадь жилого фонда</div>
              </div>
              <div class="a-features__item">
                <div class="a-features__title">15 мин</div>
                <div class="a-features__text">От ст. м. Московские ворота на автомобиле</div>
              </div>
              <div class="a-features__item">
                <div class="a-features__title">2</div>
                <div class="a-features__text">Детских садика</div>
              </div>
              <div class="a-features__item">
                <div class="a-features__title">525</div>
                <div class="a-features__text">Мест в школе</div>
              </div>
              <div class="a-features__item">
                <div class="a-features__title">Ice Rink</div>
                <div class="a-features__text">Построен и работает Ледовый дворец ICE RINK.</div>
              </div>
              <div class="a-features__item">
                <div class="a-features__title">12</div>
                <div class="a-features__text">Этажей максимум</div>
              </div>
            </div>
          </div>
        </div>
        <div class="about__note">
          <div class="about__note-text">Проект Комплексного Освоения Территории (КОТ) — ЖК Новоселье («Новоселье: городские кварталы») строится рядом с третьей МЕГА-ИКЕА (окончание строительства - 2020 год), прямо на границе с Красносельским районом города, в пос. Новоселье. Проект с финской архитектурой от Jukka Tikkanen Ltd находится в 15 минутах езды на автомобиле через ЗСД от станции метро Московские ворота. Уже построены и заселены 10(Десять) домов в 4(четырех) кварталах "Альфа", "Бета", "Гамма", "Дельта", строятся кварталы "Эпсилон" и "ETA".</div>
        </div>
        <div class="about__block" style="background-image: url(assets/images/content/about-block_1.jpg)">
          <div class="container">
            <div class="about__block-content">
              <div class="about__block-title">2020 год - завершение строительства МЕГА-ИКЕА</div>
            </div>
          </div>
        </div>
        <div class="about__block" style="background-image: url(assets/images/content/about-block_2.jpg)">
          <div class="container">
            <div class="about__block-content">
              <div class="about__block-title">Лучшее местоположение</div>
              <div class="about__block-text">Между двумя развязками КАД и ЗСД</div>
            </div>
          </div>
        </div>
        <div class="about__media">
          <div class="container">
            <div class="media">
              <div class="media__content media__content--custom">
                <div class="media__content-title">Преимущества проекта</div>
                <div class="media__content-list">
                  <div class="media__content-list-item">Комфортные евро-планировки, созданные финским архитектором</div>
                  <div class="media__content-list-item">Отделка квартир по европейским стандартам</div>
                  <div class="media__content-list-item">Панорамные окна</div>
                  <div class="media__content-list-item">Территория закрыта по периметру</div>
                  <div class="media__content-list-item">Кластерная система расположения кварталов</div>
                  <div class="media__content-list-item">Доступная цена</div>
                </div>
              </div>
              <div class="media__gallery">
                <div class="media__gallery-col">
                  <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_5.jpg)"></div>
                  <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_6.jpg)"></div>
                </div>
                <div class="media__gallery-col">
                  <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_7.jpg)"></div>
                  <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_8.jpg)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about__types">
          <div class="about__types-item">
            <div class="about__types-image" style="background-image: url(assets/images/content/type_1.png)"></div>
            <div class="about__types-title">Современный финский дизайн</div>
          </div>
          <div class="about__types-item">
            <div class="about__types-image" style="background-image: url(assets/images/content/type_2.png)"></div>
            <div class="about__types-title">Концепция кластеров</div>
          </div>
          <div class="about__types-item">
            <div class="about__types-image" style="background-image: url(assets/images/content/type_3.png)"></div>
            <div class="about__types-title">Удобные планировки квартир</div>
          </div>
        </div>
        <div class="about__note">
          <div class="about__note-title">Инфраструктура</div>
          <div class="about__note-text">Посёлок Новоселье и прилегающие территории являются объектом не уплотнительной, а комплексной многоэтажной застройки. Введение в строй нескольких сотен тысяч квадратных метров жилья требует создания собственной разветвлённой социальной инфраструктуры. И данная инфраструктура создаётся буквально опережающими темпами: в комплексе будут соблюдены все социальные нормы проживания.</div>
        </div>
        <div class="about__plan"><img src="assets/images/content/about-plan.jpg" alt=""></div>
        <div class="about__contact">
          <div class="container">
            <div class="about__contact-row">
              <div class="about__contact-content">
                <div class="about__contact-title">Ответим на все вопросы</div><a class="about__contact-item" href="#">+7 (812) 309 7777</a><a class="about__contact-item" href="#">info@n-gk.ru</a>
                <div class="about__contact-text">Ленинградская область, Ломоносовский район, посёлок Новоселье, Институтская улица, д. 1 за домом — 2-этажное здание и вывеска «Офис продаж».</div><a class="about__contact-link" href="#">Смотреть на карте</a><a class="about__contact-link" href="#">Документы</a>
              </div>
              <div class="about__contact-image" style="background-image: url(assets/images/content/about-contact.jpg)"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__copy">© n-gk.ru 2019</div>
            <div class="footer__text">Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации. * Отправляя заявку, вы соглашаетесь на обработку персональных данных в целях рассмотрения обращения (Федеральный закон от 27.07.2006 N 152-ФЗ "О персональных данных"). Все права на использование материалов (фото, тексты, рендеры, планировки, и прочая информация) с данного сайта принадлежат УК Новоселье. VK7315</div><a class="footer__cake" href="#">Разработка сайта <img src='assets/images/static/cake.svg' alt=''></a>
          </div>
        </div>
      </footer><a class="callback" href="#"></a>
    </div>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
