src/templates/card.pug
extends layout

block title
	title card

block content
	
	.card
		a(href="#").card__back
		.container
			.card__bread
				.bread
					a(href="#").bread__item Квартал "Дельта"
					a(href="#").bread__item 1 - 12 этажи
					a(href="#").bread__item 2-комнатная "Трансформер"

			.card__inner
				.card__stats
					.card__stats-info
						.card__stats-line
							.card__stats-item
								.card__stats-item-value 4
								.card__stats-item-name Очередь
							.card__stats-item
								.card__stats-item-value 4
								.card__stats-item-name Дом
							.card__stats-item
								.card__stats-item-value 4
								.card__stats-item-name Этаж
						.card__stats-line
							.card__stats-item
								.card__stats-item-value 2-а-4
								.card__stats-item-name Квартира
						.card__stats-line
							.card__stats-item
								.card__stats-item-value III квартал 2018
								.card__stats-item-name окончание строительства

					.card__stats-square
						.card__stats-square-value 59.78 <span>м²</span>
						.card__stats-item-name Площадь

					.card__stats-media
						a(href="#").card__stats-media-item.card__stats-media-item--tour 3d тур
						a(href="#").card__stats-media-item.card__stats-media-item--gallery Галерея

					.card__stats-placement
						img(src="assets/images/static/placement.png", alt="").card__stats-placement-item

				.card__image
					.card__image-main
						img(src="assets/images/content/plan.svg", alt="")

					.card__image-type
						.card__image-type-item.card__image-type-item--furniture(style='display: none' data-src='assets/images/content/plan.svg') С мебелью
						.card__image-type-item.card__image-type-item--no-furniture(data-src='assets/images/content/plan.svg') Без мебели
						.card__image-type-item.card__image-type-item--plan(data-src='assets/images/content/plan.svg') 3D план

				.card__controls
					.card__controls-block
						.card__controls-button
							a(href="#").button.button--small.button--orange забронировать
						.card__controls-button
							a(href="").button.button--small.button--light запрос цены

					.card__controls-block
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/calc.svg", alt="").card__controls-link-image
							.card__controls-link-name Рассчитать <span>рассрочку</span>
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/calc.svg", alt="").card__controls-link-image
							.card__controls-link-name Рассчитать <span>ипотеку</span>

					.card__controls-block
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/callback.svg", alt="").card__controls-link-image
							.card__controls-link-name Обратный звонок
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/print.svg", alt="").card__controls-link-image
							.card__controls-link-name Обратный звонок

			.card__advantages
				.card__advantages-title Преимущества квартиры
				.card__advantages-row
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_1.svg", alt="").card__advantages-image-file
						.card__advantages-name Большой балкон
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_2.svg", alt="").card__advantages-image-file
						.card__advantages-name Большой шкаф в нише для удобного хранения в прихожей
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_3.svg", alt="").card__advantages-image-file
						.card__advantages-name Раздельный санузел
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_4.svg", alt="").card__advantages-image-file
						.card__advantages-name Выход на балкон из спальни
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_5.png", alt="").card__advantages-image-file
						.card__advantages-name Огромные кухни-гостиные
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_6.svg", alt="").card__advantages-image-file
						.card__advantages-name Два окна в гостинной
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_7.png", alt="").card__advantages-image-file
						.card__advantages-name Грязная зона прихожей отделена
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_8.svg", alt="").card__advantages-image-file
						.card__advantages-name Окно в ванной комнате
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_9.png", alt="").card__advantages-image-file
						.card__advantages-name Гардеробные

			.card__tour
				.card__tour-row
					.card__tour-content
						.card__tour-title Варианты отделки
						.card__tour-toggle
							.card__tour-toggle-item Светлая
							.card__tour-toggle-button
							.card__tour-toggle-item Темная
						.card__tour-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__tour-tour(style='background-image: url(assets/images/static/tour_bg.jpg)')

			.card__payment
				.card__payment-row
					.card__payment-item
						.card__payment-title 100% оплата
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__payment-item
						.card__payment-title Ипотека
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__payment-item
						.card__payment-title Рассрочка 0%
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__payment-item
						.card__payment-title 50/50
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
				.card__payment-link
					a(href="#").link.link--black Подробнее о способах оплаты

			.card__popular
				.popular
					.popular__title Самые популярные<br>планировки квартир
					.popular__scene
						.popular__slider.owl-carousel
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
						.popular__nav

dist/card.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>card</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__row">
          <div class="header__logo"><img class="header__logo-image header__logo-image--desktop" src="assets/images/static/header__logo.svg" alt=""><img class="header__logo-image header__logo-image--mobile" src="assets/images/static/logo_mobile.svg" alt=""><a class="header__logo-link" href="#"></a></div>
          <div class="header__button"><a class="button button--orange" href="#">Выбрать квартиру</a></div>
          <div class="header__menu">
            <div class="header__menu-inner">
              <div class="header__nav">
                <div class="header__nav-item"><a class="header__nav-link" href="#">Ипотека</a></div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Ход строительства</a></div>
                <div class="header__nav-item"><a class="header__nav-link header__nav-link--drop" href="#">О проекте</a>
                  <div class="header__nav-drop"><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a></div>
                </div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Галерея</a></div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Контакты</a></div>
              </div>
              <div class="header__contact">
                <div class="header__contact-item"><a class="header__contact-phone" href="tel:+7 (812) 309-77-77">+7 (812) 309-77-77</a></div>
                <div class="header__contact-item">
                  <div class="soc">
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-vk.svg" alt=""></div>
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-inst.svg" alt=""></div>
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-fb.svg" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header__search">
            <div class="header__search-icon"></div>
            <form class="header__search-form">
              <input class="header__search-input" type="text" placeholder="Введите запрос">
              <button class="header__search-button" type="submit"></button>
            </form>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="card"><a class="card__back" href="#"></a>
          <div class="container">
            <div class="card__bread">
              <div class="bread"><a class="bread__item" href="#">Квартал "Дельта"</a><a class="bread__item" href="#">1 - 12 этажи</a><a class="bread__item" href="#">2-комнатная "Трансформер"</a></div>
            </div>
            <div class="card__inner">
              <div class="card__stats">
                <div class="card__stats-info">
                  <div class="card__stats-line">
                    <div class="card__stats-item">
                      <div class="card__stats-item-value">4</div>
                      <div class="card__stats-item-name">Очередь</div>
                    </div>
                    <div class="card__stats-item">
                      <div class="card__stats-item-value">4</div>
                      <div class="card__stats-item-name">Дом</div>
                    </div>
                    <div class="card__stats-item">
                      <div class="card__stats-item-value">4</div>
                      <div class="card__stats-item-name">Этаж</div>
                    </div>
                  </div>
                  <div class="card__stats-line">
                    <div class="card__stats-item">
                      <div class="card__stats-item-value">2-а-4</div>
                      <div class="card__stats-item-name">Квартира</div>
                    </div>
                  </div>
                  <div class="card__stats-line">
                    <div class="card__stats-item">
                      <div class="card__stats-item-value">III квартал 2018</div>
                      <div class="card__stats-item-name">окончание строительства</div>
                    </div>
                  </div>
                </div>
                <div class="card__stats-square">
                  <div class="card__stats-square-value">59.78 <span>м²</span></div>
                  <div class="card__stats-item-name">Площадь</div>
                </div>
                <div class="card__stats-media"><a class="card__stats-media-item card__stats-media-item--tour" href="#">3d тур</a><a class="card__stats-media-item card__stats-media-item--gallery" href="#">Галерея</a></div>
                <div class="card__stats-placement"><img class="card__stats-placement-item" src="assets/images/static/placement.png" alt=""></div>
              </div>
              <div class="card__image">
                <div class="card__image-main"><img src="assets/images/content/plan.svg" alt=""></div>
                <div class="card__image-type">
                  <div class="card__image-type-item card__image-type-item--furniture" style="display: none" data-src="assets/images/content/plan.svg">С мебелью</div>
                  <div class="card__image-type-item card__image-type-item--no-furniture" data-src="assets/images/content/plan.svg">Без мебели</div>
                  <div class="card__image-type-item card__image-type-item--plan" data-src="assets/images/content/plan.svg">3D план</div>
                </div>
              </div>
              <div class="card__controls">
                <div class="card__controls-block">
                  <div class="card__controls-button"><a class="button button--small button--orange" href="#">забронировать</a></div>
                  <div class="card__controls-button"><a class="button button--small button--light" href="">запрос цены</a></div>
                </div>
                <div class="card__controls-block">
                  <div class="card__controls-item"><a class="card__controls-link" href="#"></a><img class="card__controls-link-image" src="assets/images/static/calc.svg" alt="">
                    <div class="card__controls-link-name">Рассчитать <span>рассрочку</span></div>
                  </div>
                  <div class="card__controls-item"><a class="card__controls-link" href="#"></a><img class="card__controls-link-image" src="assets/images/static/calc.svg" alt="">
                    <div class="card__controls-link-name">Рассчитать <span>ипотеку</span></div>
                  </div>
                </div>
                <div class="card__controls-block">
                  <div class="card__controls-item"><a class="card__controls-link" href="#"></a><img class="card__controls-link-image" src="assets/images/static/callback.svg" alt="">
                    <div class="card__controls-link-name">Обратный звонок</div>
                  </div>
                  <div class="card__controls-item"><a class="card__controls-link" href="#"></a><img class="card__controls-link-image" src="assets/images/static/print.svg" alt="">
                    <div class="card__controls-link-name">Обратный звонок</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card__advantages">
              <div class="card__advantages-title">Преимущества квартиры</div>
              <div class="card__advantages-row">
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_1.svg" alt=""></div>
                  <div class="card__advantages-name">Большой балкон</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_2.svg" alt=""></div>
                  <div class="card__advantages-name">Большой шкаф в нише для удобного хранения в прихожей</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_3.svg" alt=""></div>
                  <div class="card__advantages-name">Раздельный санузел</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_4.svg" alt=""></div>
                  <div class="card__advantages-name">Выход на балкон из спальни</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_5.png" alt=""></div>
                  <div class="card__advantages-name">Огромные кухни-гостиные</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_6.svg" alt=""></div>
                  <div class="card__advantages-name">Два окна в гостинной</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_7.png" alt=""></div>
                  <div class="card__advantages-name">Грязная зона прихожей отделена</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_8.svg" alt=""></div>
                  <div class="card__advantages-name">Окно в ванной комнате</div>
                </div>
                <div class="card__advantages-item">
                  <div class="card__advantages-image"><img class="card__advantages-image-file" src="assets/images/static/adv_9.png" alt=""></div>
                  <div class="card__advantages-name">Гардеробные</div>
                </div>
              </div>
            </div>
            <div class="card__tour">
              <div class="card__tour-row">
                <div class="card__tour-content">
                  <div class="card__tour-title">Варианты отделки</div>
                  <div class="card__tour-toggle">
                    <div class="card__tour-toggle-item">Светлая</div>
                    <div class="card__tour-toggle-button"></div>
                    <div class="card__tour-toggle-item">Темная</div>
                  </div>
                  <div class="card__tour-text">Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.</div>
                </div>
                <div class="card__tour-tour" style="background-image: url(assets/images/static/tour_bg.jpg)"></div>
              </div>
            </div>
            <div class="card__payment">
              <div class="card__payment-row">
                <div class="card__payment-item">
                  <div class="card__payment-title">100% оплата</div>
                  <div class="card__payment-text">Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.</div>
                </div>
                <div class="card__payment-item">
                  <div class="card__payment-title">Ипотека</div>
                  <div class="card__payment-text">Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.</div>
                </div>
                <div class="card__payment-item">
                  <div class="card__payment-title">Рассрочка 0%</div>
                  <div class="card__payment-text">Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.</div>
                </div>
                <div class="card__payment-item">
                  <div class="card__payment-title">50/50</div>
                  <div class="card__payment-text">Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.</div>
                </div>
              </div>
              <div class="card__payment-link"><a class="link link--black" href="#">Подробнее о способах оплаты</a></div>
            </div>
            <div class="card__popular">
              <div class="popular">
                <div class="popular__title">Самые популярные<br>планировки квартир</div>
                <div class="popular__scene">
                  <div class="popular__slider owl-carousel">
                    <div class="popular__slide">
                      <div class="flat-card"><a class="flat-card__link" href="#"></a>
                        <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_1.svg" alt=""></div>
                        <div class="flat-card__bottom">
                          <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                          <div class="flat-card__bottom-stats">
                            <div class="flat-card__bottom-square">33,66 м2</div>
                            <div class="flat-card__bottom-type">1-комнатная</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="popular__slide">
                      <div class="flat-card"><a class="flat-card__link" href="#"></a>
                        <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_2.svg" alt=""></div>
                        <div class="flat-card__bottom">
                          <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                          <div class="flat-card__bottom-stats">
                            <div class="flat-card__bottom-square">33,66 м2</div>
                            <div class="flat-card__bottom-type">1-комнатная</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="popular__slide">
                      <div class="flat-card"><a class="flat-card__link" href="#"></a>
                        <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_1.svg" alt=""></div>
                        <div class="flat-card__bottom">
                          <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                          <div class="flat-card__bottom-stats">
                            <div class="flat-card__bottom-square">33,66 м2</div>
                            <div class="flat-card__bottom-type">1-комнатная</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="popular__slide">
                      <div class="flat-card"><a class="flat-card__link" href="#"></a>
                        <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_2.svg" alt=""></div>
                        <div class="flat-card__bottom">
                          <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                          <div class="flat-card__bottom-stats">
                            <div class="flat-card__bottom-square">33,66 м2</div>
                            <div class="flat-card__bottom-type">1-комнатная</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="popular__slide">
                      <div class="flat-card"><a class="flat-card__link" href="#"></a>
                        <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_1.svg" alt=""></div>
                        <div class="flat-card__bottom">
                          <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                          <div class="flat-card__bottom-stats">
                            <div class="flat-card__bottom-square">33,66 м2</div>
                            <div class="flat-card__bottom-type">1-комнатная</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popular__nav"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__copy">© n-gk.ru 2019</div>
            <div class="footer__text">Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации. * Отправляя заявку, вы соглашаетесь на обработку персональных данных в целях рассмотрения обращения (Федеральный закон от 27.07.2006 N 152-ФЗ "О персональных данных"). Все права на использование материалов (фото, тексты, рендеры, планировки, и прочая информация) с данного сайта принадлежат УК Новоселье. VK7315</div><a class="footer__cake" href="#">Разработка сайта <img src='assets/images/static/cake.svg' alt=''></a>
          </div>
        </div>
      </footer><a class="callback" href="#"></a>
    </div>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
