dist/main.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>main</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__row">
          <div class="header__logo"><img class="header__logo-image header__logo-image--desktop" src="assets/images/static/header__logo.svg" alt=""><img class="header__logo-image header__logo-image--mobile" src="assets/images/static/logo_mobile.svg" alt=""><a class="header__logo-link" href="#"></a></div>
          <div class="header__button"><a class="button button--orange" href="#">Выбрать квартиру</a></div>
          <div class="header__menu">
            <div class="header__menu-inner">
              <div class="header__nav">
                <div class="header__nav-item"><a class="header__nav-link" href="#">Ипотека</a></div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Ход строительства</a></div>
                <div class="header__nav-item"><a class="header__nav-link header__nav-link--drop" href="#">О проекте</a>
                  <div class="header__nav-drop"><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a><a class="header__nav-drop-link" href="#">Квартал "Гамма"</a></div>
                </div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Галерея</a></div>
                <div class="header__nav-item"><a class="header__nav-link" href="#">Контакты</a></div>
              </div>
              <div class="header__contact">
                <div class="header__contact-item"><a class="header__contact-phone" href="tel:+7 (812) 309-77-77">+7 (812) 309-77-77</a></div>
                <div class="header__contact-item">
                  <div class="soc">
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-vk.svg" alt=""></div>
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-inst.svg" alt=""></div>
                    <div class="soc__item"><a class="soc__item-link" href="#"></a><img class="soc__item-icon" src="assets/images/static/soc-fb.svg" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header__search">
            <div class="header__search-icon"></div>
            <form class="header__search-form">
              <input class="header__search-input" type="text" placeholder="Введите запрос">
              <button class="header__search-button" type="submit"></button>
            </form>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="welcome">
          <div class="welcome__bg" style="background-image: url(assets/images/content/3DKorpus.jpg)"></div>
          <div class="welcome__container">
            <div class="welcome__awards">
              <div class="welcome__awards-item"><a class="welcome__awards-link" href="#"></a><img class="welcome__awards-image" src="assets/images/content/award_1.png" alt=""></div>
              <div class="welcome__awards-item"><a class="welcome__awards-link" href="#"></a><img class="welcome__awards-image" src="assets/images/content/award_2.png" alt=""></div>
              <div class="welcome__awards-item"><a class="welcome__awards-link" href="#"></a><img class="welcome__awards-image" src="assets/images/content/award_3.png" alt=""></div>
            </div>
            <div class="welcome__content">
              <div class="welcome__content-title">Жилые комплексы в Новоселье</div>
              <div class="welcome__content-text">Мы создаем комфорт</div>
            </div>
            <div class="welcome__features">
              <div class="welcome__features-scroll"></div>
              <div class="welcome__features-row">
                <div class="welcome__feature"><a class="welcome__feature-link" href="#"></a>
                  <div class="welcome__feature-title">Аэро-фотосъемка</div>
                  <div class="welcome__feature-text">С высоты птичьего полета</div>
                </div>
                <div class="welcome__feature"><a class="welcome__feature-link" href="#"></a>
                  <div class="welcome__feature-title">Виртуальный тур</div>
                  <div class="welcome__feature-text">Прогулка по проекту ЖК Новоселье</div>
                </div>
                <div class="welcome__feature"><a class="welcome__feature-link" href="#"></a>
                  <div class="welcome__feature-title">Варианты отделки</div>
                  <div class="welcome__feature-text">Светлая и темная</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="complexes">
            <div class="complexes__row">
              <div class="complexes__col">
                <div class="complex-card"><a class="complex-card__link" href="#"></a>
                  <div class="complex-card__bg" style="background-image: url(assets/images/content/epsilon.jpg)"></div>
                  <div class="complex-card__content">
                    <div class="complex-card__title">Эпсилон</div>
                    <div class="complex-card__stats">
                      <div class="complex-card__stats-item">832 квартиры</div>
                      <div class="complex-card__stats-item">III квартал 2020</div><a class="complex-card__stats-link" href="#">Узнать больше</a>
                    </div>
                    <div class="complex-card__process"><span style="width: 90%"></span></div>
                    <div class="complex-card__stage">Построено 7 этажей</div>
                  </div>
                </div>
              </div>
              <div class="complexes__col">
                <div class="complex-card"><a class="complex-card__link" href="#"></a>
                  <div class="complex-card__bg" style="background-image: url(assets/images/content/ujutnij_render.jpg)"></div>
                  <div class="complex-card__content">
                    <div class="complex-card__title">Уютный</div>
                    <div class="complex-card__stats">
                      <div class="complex-card__stats-item">832 квартиры</div>
                      <div class="complex-card__stats-item">III квартал 2020</div><a class="complex-card__stats-link" href="#">Узнать больше</a>
                    </div>
                    <div class="complex-card__process"><span style="width: 20%"></span></div>
                    <div class="complex-card__stage">Построено 7 этажей</div>
                  </div>
                </div>
              </div>
              <div class="complexes__col">
                <div class="complex-card"><a class="complex-card__link" href="#"></a>
                  <div class="complex-card__bg" style="background-image: url(assets/images/content/eta.jpg)"></div>
                  <div class="complex-card__content">
                    <div class="complex-card__title">ETA</div>
                    <div class="complex-card__stats">
                      <div class="complex-card__stats-item">832 квартиры</div>
                      <div class="complex-card__stats-item">III квартал 2020</div><a class="complex-card__stats-link" href="#">Узнать больше</a>
                    </div>
                    <div class="complex-card__process"><span style="width: 50%"></span></div>
                    <div class="complex-card__stage">Построено 7 этажей</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tours">
            <div class="tours__top">
              <div class="tours__top-title">Планировки, в которых <br> все продумано</div>
              <div class="tours__item">
                <div class="tours__item-main">
                  <div class="tours__item-name">Квартал «Эпсилон»</div>
                  <div class="tours__item-descr">1-комнатная «трансформер»</div>
                </div><a class="tours__item-link" href="#">Смотреть все 3D туры</a>
              </div>
            </div>
            <div class="tours__canvas" style="background-image: url(assets/images/content/tour-bg.jpg)">
              <div class="tours__canvas-inner">
                <!-- Место для тура-->
              </div>
              <div class="tours__canvas-link" data-text="Нажмите, чтобы начать просмотр"></div>
            </div>
          </div>
          <div class="popular">
            <div class="popular__title">Самые популярные<br>планировки квартир</div>
            <div class="popular__scene">
              <div class="popular__slider owl-carousel">
                <div class="popular__slide">
                  <div class="flat-card"><a class="flat-card__link" href="#"></a>
                    <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_1.svg" alt=""></div>
                    <div class="flat-card__bottom">
                      <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                      <div class="flat-card__bottom-stats">
                        <div class="flat-card__bottom-square">33,66 м2</div>
                        <div class="flat-card__bottom-type">1-комнатная</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popular__slide">
                  <div class="flat-card"><a class="flat-card__link" href="#"></a>
                    <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_2.svg" alt=""></div>
                    <div class="flat-card__bottom">
                      <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                      <div class="flat-card__bottom-stats">
                        <div class="flat-card__bottom-square">33,66 м2</div>
                        <div class="flat-card__bottom-type">1-комнатная</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popular__slide">
                  <div class="flat-card"><a class="flat-card__link" href="#"></a>
                    <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_1.svg" alt=""></div>
                    <div class="flat-card__bottom">
                      <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                      <div class="flat-card__bottom-stats">
                        <div class="flat-card__bottom-square">33,66 м2</div>
                        <div class="flat-card__bottom-type">1-комнатная</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popular__slide">
                  <div class="flat-card"><a class="flat-card__link" href="#"></a>
                    <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_2.svg" alt=""></div>
                    <div class="flat-card__bottom">
                      <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                      <div class="flat-card__bottom-stats">
                        <div class="flat-card__bottom-square">33,66 м2</div>
                        <div class="flat-card__bottom-type">1-комнатная</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popular__slide">
                  <div class="flat-card"><a class="flat-card__link" href="#"></a>
                    <div class="flat-card__image"><img class="flat-card__image-file" src="assets/images/content/plan_1.svg" alt=""></div>
                    <div class="flat-card__bottom">
                      <div class="flat-card__bottom-main"><span>8 квартир</span> с данной<br>планировкой в продаже</div>
                      <div class="flat-card__bottom-stats">
                        <div class="flat-card__bottom-square">33,66 м2</div>
                        <div class="flat-card__bottom-type">1-комнатная</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="popular__nav"></div>
            </div>
          </div>
          <div class="gallery">
            <div class="gallery__top">
              <div class="gallery__top-title">Галерея проекта</div><a class="gallery__top-link" href="#">Перейти на страницу галереи</a>
            </div>
            <div class="gallery__main">
              <div class="gallery__main-scene owl-carousel">
                <div class="gallery__main-slide" style="background-image: url(assets/images/content/gallery__main-1.jpg)"></div>
                <div class="gallery__main-slide" style="background-image: url(assets/images/content/gallery__main-1.jpg)"></div>
                <div class="gallery__main-slide" style="background-image: url(assets/images/content/gallery__main-1.jpg)"></div>
                <div class="gallery__main-slide" style="background-image: url(assets/images/content/gallery__main-1.jpg)"></div>
                <div class="gallery__main-slide" style="background-image: url(assets/images/content/gallery__main-1.jpg)"></div>
              </div>
              <div class="gallery__thumbs">
                <div class="gallery__thumbs-item active" style="background-image: url(assets/images/content/thumb_1.jpg)"></div>
                <div class="gallery__thumbs-item" style="background-image: url(assets/images/content/thumb_2.jpg)"></div>
                <div class="gallery__thumbs-item" style="background-image: url(assets/images/content/thumb_3.jpg)"></div>
                <div class="gallery__thumbs-item" style="background-image: url(assets/images/content/thumb_4.jpg)"></div>
                <div class="gallery__thumbs-item" style="background-image: url(assets/images/content/thumb_5.jpg)"></div>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media__content">
              <div class="media__content-title">Будьте всегда в курсе</div>
              <div class="media__content-text">Жители «ЖК Новоселье» приезжают с работы не в унылый спальный район, а возвращаются домой — в атмосферу комфорта своих квартир, благоустройства и защищенности квартала.</div><a class="media__content-link" href="#">gknovoselie</a>
            </div>
            <div class="media__gallery">
              <div class="media__gallery-col">
                <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_1.jpg)"></div>
                <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_2.jpg)"></div>
              </div>
              <div class="media__gallery-col">
                <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_3.jpg)"></div>
                <div class="media__gallery-item" style="background-image: url(assets/images/content/inst_4.jpg)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row">
            <div class="footer__copy">© n-gk.ru 2019</div>
            <div class="footer__text">Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации. * Отправляя заявку, вы соглашаетесь на обработку персональных данных в целях рассмотрения обращения (Федеральный закон от 27.07.2006 N 152-ФЗ "О персональных данных"). Все права на использование материалов (фото, тексты, рендеры, планировки, и прочая информация) с данного сайта принадлежат УК Новоселье. VK7315</div><a class="footer__cake" href="#">Разработка сайта <img src='assets/images/static/cake.svg' alt=''></a>
          </div>
        </div>
      </footer><a class="callback" href="#"></a>
    </div>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

src/templates/main.pug
extends layout

block title
	title main

block content
	
	.welcome
		.welcome__bg(style='background-image: url(assets/images/content/3DKorpus.jpg)')

		.welcome__container

			.welcome__awards
				.welcome__awards-item
					a(href="#").welcome__awards-link
					img(src="assets/images/content/award_1.png", alt="").welcome__awards-image
				.welcome__awards-item
					a(href="#").welcome__awards-link
					img(src="assets/images/content/award_2.png", alt="").welcome__awards-image
				.welcome__awards-item
					a(href="#").welcome__awards-link
					img(src="assets/images/content/award_3.png", alt="").welcome__awards-image

			.welcome__content
				.welcome__content-title Жилые комплексы в Новоселье
				.welcome__content-text Мы создаем комфорт

			.welcome__features
				.welcome__features-scroll

				.welcome__features-row
					.welcome__feature
						a(href="#").welcome__feature-link
						.welcome__feature-title Аэро-фотосъемка
						.welcome__feature-text С высоты птичьего полета
					.welcome__feature
						a(href="#").welcome__feature-link
						.welcome__feature-title Виртуальный тур
						.welcome__feature-text Прогулка по проекту ЖК Новоселье
					.welcome__feature
						a(href="#").welcome__feature-link
						.welcome__feature-title Варианты отделки
						.welcome__feature-text Светлая и темная
	.container
		.complexes
			.complexes__row
				.complexes__col
					.complex-card
						a(href="#").complex-card__link
						.complex-card__bg(style='background-image: url(assets/images/content/epsilon.jpg)')
						.complex-card__content
							.complex-card__title Эпсилон
							.complex-card__stats
								.complex-card__stats-item 832 квартиры
								.complex-card__stats-item III квартал 2020
								a(href="#").complex-card__stats-link Узнать больше
							.complex-card__process
								span(style='width: 90%')
							.complex-card__stage Построено 7 этажей
				.complexes__col
					.complex-card
						a(href="#").complex-card__link
						.complex-card__bg(style='background-image: url(assets/images/content/ujutnij_render.jpg)')
						.complex-card__content
							.complex-card__title Уютный
							.complex-card__stats
								.complex-card__stats-item 832 квартиры
								.complex-card__stats-item III квартал 2020
								a(href="#").complex-card__stats-link Узнать больше
							.complex-card__process
								span(style='width: 20%')
							.complex-card__stage Построено 7 этажей
				.complexes__col
					.complex-card
						a(href="#").complex-card__link
						.complex-card__bg(style='background-image: url(assets/images/content/eta.jpg)')
						.complex-card__content
							.complex-card__title ETA
							.complex-card__stats
								.complex-card__stats-item 832 квартиры
								.complex-card__stats-item III квартал 2020
								a(href="#").complex-card__stats-link Узнать больше
							.complex-card__process
								span(style='width: 50%')
							.complex-card__stage Построено 7 этажей

		.tours
			.tours__top
				.tours__top-title Планировки, в которых <br> все продумано
				.tours__item
					.tours__item-main
						.tours__item-name Квартал «Эпсилон»
						.tours__item-descr 1-комнатная «трансформер»
					a(href="#").tours__item-link Смотреть все 3D туры
			.tours__canvas(style='background-image: url(assets/images/content/tour-bg.jpg)')
				.tours__canvas-inner
					// Место для тура
				.tours__canvas-link(data-text='Нажмите, чтобы начать просмотр')

		.popular
			.popular__title Самые популярные<br>планировки квартир
			.popular__scene
				.popular__slider.owl-carousel
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
				.popular__nav

		.gallery
			.gallery__top
				.gallery__top-title Галерея проекта
				a(href="#").gallery__top-link Перейти на страницу галереи

			.gallery__main
				.gallery__main-scene.owl-carousel
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')

				.gallery__thumbs
					.gallery__thumbs-item.active(style='background-image: url(assets/images/content/thumb_1.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_2.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_3.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_4.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_5.jpg)')

		.media
			.media__content
				.media__content-title Будьте всегда в курсе
				.media__content-text Жители «ЖК Новоселье» приезжают с работы не в унылый спальный район, а возвращаются домой — в атмосферу комфорта своих квартир, благоустройства и защищенности квартала.
				a(href="#").media__content-link gknovoselie
			.media__gallery
				.media__gallery-col
					.media__gallery-item(style='background-image: url(assets/images/content/inst_1.jpg)')
					.media__gallery-item(style='background-image: url(assets/images/content/inst_2.jpg)')
				.media__gallery-col
					.media__gallery-item(style='background-image: url(assets/images/content/inst_3.jpg)')
					.media__gallery-item(style='background-image: url(assets/images/content/inst_4.jpg)')







				





	
